@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

aside {
  width: 100%;
  /* Adjust the width as needed */
  background-color: #f0f0f0;
  /* Adjust the background color */
  left: 0;
  margin-left: 50px;
  
}

#most-popular-wrapper {
  background-color: #ffffff;
  /* Adjust the background color */
  border: 1px solid #b9abab;
  /* Add borders or adjust as needed */
}


.background {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to top right, rgba(100, 213, 251, 0.3), rgba(228, 166, 249, 0.5)) fixed;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbccc8');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

.card-container {
    max-width: 100%;
    width: 860px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
    grid-gap: 20px;
}

.card-container> :nth-child(-n+3) {
    margin-top: 30px;
}

.card {
    width: 100%;
    max-width: 222px;
    height: 315px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 13px 15px 0px rgba(0, 0, 0, 0.05);
    transition: ease all 0.2s;
}

.card:hover {
    transform: scale(1.2) translateY(-20px);
}

#back {
    width: 100%;
    max-width: 222px;
    height: 315px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
}

#back img {
    width: 100%;
    height: 100%;
    filter: blur(30px);
    opacity: 0.9;
}

#art {
    position: relative;
    border-radius: 50%;
    width: 176px;
    height: 176px;
    margin: 23px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
    transition: ease all 0.2s;
}

#title,
#artist {
    margin: 0 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#title {
    margin-top: 31px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    color: #393939;
}

#artist {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #707070;
}

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.track-item {
    position: relative;
    display: inline-block;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    cursor: pointer;
    font-size: 50px;
    /* Adjust padding as needed */
}

@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  color: #acbdce;
}

:root {
  --border-radius: 10px;
}

body,
html {
  background: #e2e9f4;
  display: grid;
  height: 100%;
  grid-template: 1fr/100%;
  place-items: center;
}

.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  overflow: hidden;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
  width: 380px;
}

.CardInner {
  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
}

.container {
  display: flex;
}

.Icon {
  cursor: pointer;
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
}
.Icon svg {
  transform: translate(-1px, -1px);
}

.Card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to the viewport height */
}

label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, #6b7b8f, #3c4b66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.InputContainer {
  width: 100%;
}

input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}
input::placeholder {
  color: #6d7f8f;
}
input:focus {
  outline: none;
  color: #6d7f8f;
  background-color: #eff5fa;
}

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.InputContainer:before, .InputContainer:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.InputContainer:before {
  box-shadow: var(--bottom-shadow);
}
.InputContainer:after {
  box-shadow: var(--top-shadow);
}