<aside>
    <div id="most-popular-wrapper" *ngIf="tracks">
        <div *ngIf="tracks.length>0; else noTracks">
            <div class="nine">
                <h1>Favorite Tracks<span>{{tracks.length}} Songs</span></h1>
            </div>
            <div class="song-list-wrapper" style="padding-top: 0;">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                    </ng-container>


                    <!-- Image Column -->
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Image </th>
                        <td mat-cell *matCellDef="let element">
                            <img class="curved-image" [src]="element.album.images[0].url" alt="artist-img" width="70" height="70">
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} - {{element.artists[0].name}}</td>
                    </ng-container>

                    <!-- Artist Column -->
                    <ng-container matColumnDef="artist">
                        <th mat-header-cell *matHeaderCellDef> Album </th>
                        <td mat-cell *matCellDef="let element"> {{element.album.name}} </td>
                    </ng-container>

                    <!-- Duration Column -->
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef> Duration </th>
                        <td mat-cell *matCellDef="let element"> {{element.duration_ms | millisecondsToMinutes}} </td>
                    </ng-container>

                    <!-- Play Song on Spotify -->
                    <ng-container matColumnDef="play">
                        <th mat-header-cell *matHeaderCellDef> Play </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.preview_url; else redirectUrl">
                                <i class="fas fa-play" style="transition: transform 1s ease; cursor: pointer;"
                                    (click)="openPlayDialog(element.id)"></i>
                            </div>
                            <ng-template #redirectUrl>
                                <i class="fa fa-external-link" style="transition: transform 1s ease; cursor: pointer;"
                                    (click)="playTrack(element)"></i>
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Remove </th>
                        <td mat-cell *matCellDef="let element">
                            <i (click)="deleteTrackToWishList(element.id)" style="color: rgb(0, 0, 0); text-align: center;
                    transition: transform 1s ease; cursor: pointer;"><mat-icon>delete</mat-icon></i>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- ... (previous code) ... -->

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        
    </div>
    
</aside>
<ng-template #noTracks>
    <div id="container-empty">
        
        <div id="error-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face2">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth sad"></div>
            </div>
            <div class="shadow move"></div>
            <div class="message">
                <h1 class="alert">Empty!</h1>
                <p>Nothing to show</p>
            </div>
            <button class="button-box" [routerLink]="['/home']">
                <h1 class="red">add Tracks</h1>
            </button>
        </div>
    </div>
</ng-template>
<app-side-bar></app-side-bar>
<app-footer></app-footer>