<!-- <main *ngIf="spotifyPlaylist">
  <h1><span class="blue">&lt;</span>Table<span class="blue">&gt;</span> <span class="yellow">Responsive</span></h1>
  <h2>Created with love by <a href="https://github.com/pablorgarcia" target="_blank">Pablo García</a></h2>

  <table mat-table [dataSource]="spotifyPlaylist.tracks.items" class="mat-elevation-z8">

    <ng-container class="container" matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef><h1>Album</h1></th>
      <td mat-cell *matCellDef="let item">{{ item.track.album.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="song">
      <th mat-header-cell *matHeaderCellDef><h1>Song</h1></th>
      <td mat-cell *matCellDef="let item">{{ item.track.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef><h1>Artist</h1></th>
      <td mat-cell *matCellDef="let item">{{ item.track.artists[0].name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef><h1>Time</h1></th>
      <td mat-cell *matCellDef="let item">{{ item.track.duration_ms | millisecondsToMinutes }}</td>
    </ng-container>
  
    <ng-container matColumnDef="spotify">
      <th mat-header-cell *matHeaderCellDef><h1>Spotify</h1></th>
      <td mat-cell *matCellDef="let item">play</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['album', 'song', 'artist', 'time', 'spotify']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['album', 'song', 'artist', 'time', 'spotify'];"></tr>
  </table>
  
</main> -->