<div *ngIf="spotifyPlaylist">
  <div class="container" id="main">
    <div class="row">
      <div class="col-sm-3" id="photo">
        <!-- <img id="sm" src="{{spotifyPlaylist.externalUrls.spotify}}" alt=""> -->
      </div>
      <div class="col-sm-8" id="detail">
        <p>Bill Board 10 Playlist</p>
        <h1 id="shawn"><b>{{ spotifyPlaylist.name }}</b></h1>
        <p><a>View artist page</a></p>
        <button class="btn" id="play">Play</button>
        <span><button class="btn" id="like"><i class="fa fa-heart-o"></i></button></span>
        <span><button class="btn" id="more"><b>...</b></button></span>
      </div>
    </div>

    <table class="table table-transparent">
      <thead>
        <tr>
          <td>Title</td>
          <td>Album</td>
          <td><i class="fa fa-clock-o"></i></td>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of spotifyPlaylist.tracks.items">
          <td>{{item.track.name}}</td>
          <td>{{item.track.album.name}}</td>
          <td>{{item.track.duration_ms}}</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>