<div class="container-body">
    <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li>
          <a  [routerLink]="['/home']">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
              Home
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a  [routerLink]="['/search-playlists']">
            <i class="fa fa-search-plus fa-2x"></i>
            <span class="nav-text">
              Search Playlists
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a  [routerLink]="['/search-tracks']">
            <i class="fa fa-search fa-2x"></i>
            <span class="nav-text">
              Search Tracks
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a  [routerLink]="['/workout-playlist']">
            <i class="fa fa-dumbbell fa-2x"></i>
            <span class="nav-text">
              Workout Playlist
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a  [routerLink]="['/top-hits-playlist']">
            <i class="fa fa-music fa-2x"></i>
            <span class="nav-text">
              top Hits Playlist
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a  [routerLink]="['/billboard-hot-100-playlist']">
            <i class="fa fa-bold fa-2x"></i>
            <span class="nav-text">
              billboard Hot 100
            </span>
          </a>
        </li>
        <li>
          <a  [routerLink]="['/favorites']">
            <i class="fa fa-heart fa-2x"></i>
            <span class="nav-text">
              Favorites
            </span>
          </a>
        </li>
      <li>
        <a  [routerLink]="['/update-profile']">
          <i class="fa fa-cogs fa-2x"></i>
          <span class="nav-text">
            Update Profile
          </span>
        </a>
      </li>
      <li>
        <a  [routerLink]="['/profile']">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
            {{username}}
          </span>
        </a>
      </li>
    </ul>
  
      <ul class="logout">
        <li>
          <a  [routerLink]="['/logout']">
            <!-- <a (click)="logout()"> -->
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text">
              Logout
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>