<aside>
    <div id="most-popular-wrapper">

        <form [formGroup]="profileForm" class="form-container" *ngIf="errorMessage; else noProfile">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Profile Information</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input formControlName="firstName" matInput placeholder="First name" required (keypress)="OnlyAlbhabets($event)">
                      <mat-error *ngIf="profileForm.get('firstName')?.hasError('required')">
                        First Name is required
                      </mat-error>
                      <div class="erorr-message" *ngIf="isNumber">
                        Only Alphabets are allowed
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input  formControlName="lastName" matInput placeholder="Last name" required (keypress)="OnlyAlbhabets2($event)">
                      <mat-error *ngIf="profileForm.get('lastName')?.hasError('required')">
                        Last Name is required
                      </mat-error>
                      <div class="erorr-message" *ngIf="isNumber2">
                        Only Alphabets are allowed
                      </div>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    
                  
                  <div class="col-md-6 top-padding">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Select DOB</mat-label>
                            <input  formControlName="dateOfBirth" matInput [matDatepicker]="picker" required>
                            <mat-error *ngIf="profileForm.get('dateOfBirth')?.hasError('required')">
                              Date of Birth is required
                            </mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>                  
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <mat-radio-group  formControlName="gender" class="margin-left" required>
                            <mat-radio-button value="male"> Male </mat-radio-button>
                            <mat-radio-button value="female"> Female </mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="profileForm.get('gender')?.hasError('required')">
                            Gender is required
                          </mat-error>
                    </div>
                </div> -->
              </mat-card-content>
              <mat-card-actions>
                <button (click)="saveForm()" mat-raised-button color="primary"  [disabled]="profileForm.invalid">Save</button>
                <div *ngIf="message">
                  <p class="success-message" style="margin-left: 10px;">Details saved successfully!</p>
                </div>
              </mat-card-actions>
              
            </mat-card>
          </form>
          
    </div>
</aside>

<ng-template #noProfile>
  <div id="container-empty">
      
      <div id="error-box">
          <div class="dot"></div>
          <div class="dot two"></div>
          <div class="face2">
              <div class="eye"></div>
              <div class="eye right"></div>
              <div class="mouth sad"></div>
          </div>
          <div class="shadow move"></div>
          <div class="message">
              <h1 class="alert">Empty!</h1>
              <p>Something went wrong...</p>
          </div>
          <button class="button-box" [routerLink]="['/home']">
              <h1 class="red">home</h1>
          </button>
      </div>
  </div>
</ng-template>
<app-side-bar></app-side-bar>
<app-footer></app-footer>
