aside {
    width: 95%;
    /* Adjust the width as needed */
    background-color: #f0f0f0;
    /* Adjust the background color */
    /* padding: 10px; */
    left: 0;
    
}

#most-popular-wrapper {
    background-color: #ffffff;
    /* Adjust the background color */
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* Add borders or adjust as needed */
}

.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Set your desired square size */
    height: 400px; /* Set your desired square size */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    /* Add additional styling as needed */
  }
  