<div id="most-popular-wrapper" *ngIf="spotifyTracks">
    <h3>Tracks</h3>
    <p class="songs-no">{{spotifyTracks.tracks.items.length}} Songs</p>
    <div class="song-list-wrapper" style="padding-top: 0;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>
  
  
            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="element.track.album.images[0].url" alt="artist-img" width="25" height="25">
                </td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.track.name}} </td>
            </ng-container>
  
            <!-- Artist Column -->
            <ng-container matColumnDef="artist">
                <th mat-header-cell *matHeaderCellDef> Artist </th>
                <td mat-cell *matCellDef="let element"> {{element.track.artists[0].name}} </td>
            </ng-container>
  
            <!-- Duration Column -->
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef> Duration </th>
                <td mat-cell *matCellDef="let element"> {{element.track.duration_ms | millisecondsToMinutes}} </td>
            </ng-container>
  
            <!-- Play Song on Spotify -->
            <ng-container matColumnDef="play">
                <th mat-header-cell *matHeaderCellDef> Play </th>
                <td mat-cell *matCellDef="let element">
                    <i class="fas fa-play" style="
                    transition: transform 1s ease; cursor: pointer;" (click)="playTrack(element.track.external_urls.spotify)"></i>
                </td>
            </ng-container>
  
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <i (click)="saveTrackToWishList(element.track.id)" class="fas fa-heart red" style="color: rgb(255, 49, 70);
                    transition: transform 1s ease; cursor: pointer;"></i>
                </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- ... (previous code) ... -->
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
    </div>
  </div>
<!-- <div class="main background" *ngIf="spotifyTracks; else noTracks">
    <div class="card-container">
        <div class="card" *ngFor="let item of spotifyTracks.tracks.items">
            <div id="back">
                <img src="{{item.album.images[0].url}}">
            </div>
            <div class="bigPlay">
                <img src="{{item.album.images[0].url}}" id="art">
                <button class="btn play-pause"  (click)="redirectToLink(item.external_urls.spotify)">
                    <div class="icon-container">
                        <div class="icon play bigger-play">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 308.838 308.838">
                                <path fill="#063064"
                                    d="M269.394 139.638c-.4-.8-.8-1.2-1.2-1.6-.8-1.2-1.6-2-2.8-3.2-1.2-1.2-2.8-2.4-4-3.2l-91.6-63.2-92-63.6c-6-4.4-13.6-5.6-20.4-4.4s-13.2 5.2-17.2 11.2c-1.6 2.4-2.8 4.8-3.6 7.2-.8 2-1.2 4-1.2 6.4v256.4c0 7.6 3.2 14.4 8 19.2 4.4 4.8 11.2 8 18.8 8 3.2 0 6.4-.4 9.2-1.6 2.8-.8 5.2-2.4 7.6-4.4l90.8-62.8 91.2-63.2c.4-.4 1.2-.8 1.6-1.2 5.6-4.4 9.2-10.4 10.4-16.8 1.2-6.4 0-13.6-3.6-19.2zm-20 20.4l-92 63.6-90.4 62.4c-.4 0-.8.4-.8.4-.4.4-1.2.8-2 1.2-.8.4-1.2.4-2 .4-1.6 0-3.2-.8-4.4-1.6-1.2-1.2-1.6-2.8-1.6-4.4v-127.6h-.4v-126-1.6c0-.4 0-.8.4-1.2 0-.4.4-.8.4-1.2.4-.4.4-.4.4-.8.8-1.2 2.4-2 3.6-2 1.6-.4 2.8 0 4.4.8.4.4.8.4 1.2.8l91.2 63.2 91.6 63.2c.4.4.8.4.8.8.4.4.4.8.8.8.8 1.6 1.2 3.2 1.2 4.8-.4 1.6-1.2 3.2-2.4 4z"
                                    class="active-path" data-old_color="#000000" data-original="#000000" />
                            </svg>
                        </div>
                    </div>
                    <div class="icon-container">
                        <div class="icon pause bigger-pause">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 493.528 493.528">
                                <path fill="#063064"
                                    d="M178.064 0L166.04.248c-14.876 0-27.236 12.112-27.236 26.992v439.664c0 14.876 13.396 26.624 28.272 26.624h.084l10.976-.072c14.892 0 26.22-11.92 26.22-26.808V26.996C204.352 12.116 193.028 0 178.064 0zM328.584 0l-12.092.248c-14.88 0-27.3 12.112-27.3 26.992v439.664c0 14.876 13.708 26.624 28.58 26.624h.084l10.816-.072c14.88 0 26.052-11.92 26.052-26.808V26.996C354.72 12.116 343.548 0 328.584 0z"
                                    class="active-path" data-old_color="#000000" data-original="#000000" />
                            </svg>
                        </div>
                    </div>
                </button>
            </div>
            <div id="title" [style.color]="'black'">{{item.name}}</div>
            <div id="artist" [style.color]="'black'">{{item.artists[0].name}}</div>

        </div>
    </div>
</div> -->

<ng-template #noTracks>
    <!-- Your content when spotifyTracks is null or undefined -->
    <!-- Your existing HTML code -->

    <div>
        <label for="searchInput">Search:</label>
        <input type="text" id="searchInput" [(ngModel)]="searchQuery" />
        <button (click)="searchTracks(searchQuery)">Search</button>
    </div>

</ng-template>