@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.background {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to top right, rgba(100, 213, 251, 0.3), rgba(228, 166, 249, 0.5)) fixed;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbccc8');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

.card-container {
    max-width: 100%;
    width: 860px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
    grid-gap: 20px;
}

.card-container> :nth-child(-n+3) {
    margin-top: 20px;
}

.card {
    width: 100%;
    max-width: 222px;
    height: 315px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 13px 15px 0px rgba(0, 0, 0, 0.05);
    transition: ease all 0.2s;
}

.card:hover {
    transform: scale(1.2) translateY(-20px);
}

#back {
    width: 100%;
    max-width: 222px;
    height: 315px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
}

#back img {
    width: 100%;
    height: 100%;
    filter: blur(30px);
    opacity: 0.9;
}

#art {
    position: relative;
    border-radius: 50%;
    width: 176px;
    height: 176px;
    margin: 23px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
    transition: ease all 0.2s;
}

#title,
#artist {
    margin: 0 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#title {
    margin-top: 31px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    color: #393939;
}

#artist {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #707070;
}

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}