<aside>
    <div id="most-popular-wrapper">
        <div id="most-popular-wrapper" *ngIf="spotifyTracks; else noTracks">
            <div class="nine">
                <h1>Tracks<span>{{spotifyTracks.tracks.items.length}} Songs</span></h1>
            </div>
            <div class="song-list-wrapper" style="padding-top: 0;">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef  style="color: black;"> # </th>
                        <td mat-cell *matCellDef="let element; let i = index"   style="color: black;"> {{i + 1}} </td>
                    </ng-container>


                    <!-- Image Column -->
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef  style="color: black;"> Image </th>
                        <td mat-cell *matCellDef="let element"  style="color: black;">
                            <img [src]="element.album.images[0].url" alt="artist-img" width="25" height="25">
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef  style="color: black;"> Name </th>
                        <td mat-cell *matCellDef="let element"  style="color: black;"> {{element.name}} </td>
                    </ng-container>

                    <!-- Artist Column -->
                    <ng-container matColumnDef="artist">
                        <th mat-header-cell *matHeaderCellDef  style="color: black;"> Artist </th>
                        <td mat-cell *matCellDef="let element"  style="color: black;"> {{element.artists[0].name}} </td>
                    </ng-container>

                    <!-- Duration Column -->
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef  style="color: black;"> Duration </th>
                        <td mat-cell *matCellDef="let element"  style="color: black;"> {{element.duration_ms | millisecondsToMinutes}} </td>
                    </ng-container>

                    <!-- Play Song on Spotify -->
                    <ng-container matColumnDef="play">
                        <th mat-header-cell *matHeaderCellDef  style="color: black;"> Play </th>
                        <td mat-cell *matCellDef="let element"  style="color: black;">
                            <i class="fas fa-play" style="
                    transition: transform 1s ease; cursor: pointer;"
                                (click)="playTrack(element.external_urls.spotify)"   style="color: black;"></i>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef  style="color: black;"> Action </th>
                        <td mat-cell *matCellDef="let element"  style="color: black;">
                            <i (click)="saveTrackToWishList(element.id)" class="fas fa-heart red" style="color: rgb(255, 49, 70);
                    transition: transform 1s ease; cursor: pointer;"></i>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

            </div>
        </div>


        <ng-template #noTracks>

            <div class="Card-container">
                <div class="Card">
                    <div class="CardInner">
                        <label>Search for your favourite Songs</label>
                        <div class="container" (click)="searchTracks(searchQuery)">
                            <div class="Icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="#657789" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-search">
                                    <circle cx="11" cy="11" r="8" />
                                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                                </svg>
                            </div>
                            <div class="InputContainer">
                                <input placeholder="It can be any song..." [(ngModel)]="searchQuery"
                                    (keyup.enter)="searchTracks(searchQuery)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>
    </div>
</aside>
<app-side-bar></app-side-bar>