<body>
    <main id="main-container">
        <section id="right-container">
            <div id="nav-bar">
                <div class="search-wrapper">
                    <input class="input-box" type="search" name="search" placeholder="Search for song,artist etc...">
                    <i class="fas fa-search"></i>
                </div>
                <div class="icons-button">
                    <i class="far fa-bell"></i>
                    <i class="fas fa-cog setting-icon"></i>
                    <!-- <button class="upgrad-btn">Upgrade Plan</button> -->
                </div>
            </div>
            <section id="topchart-section" *ngIf="spotifyPlaylistBillBoard">
                <div class="heading-part">
                  <h3>{{spotifyPlaylistBillBoard.name}}</h3>
                  <div class="angles">
                    <i class="fas fa-angle-left" (click)="scrollCards('left')"></i>
                    <i class="fas fa-angle-right" (click)="scrollCards('right')"></i>
                  </div>
                </div>
                <div id="grid" class="cards-container  scroll-container">
                  <div class="popstar-cards" *ngFor="let item of spotifyPlaylistBillBoard.tracks.items">
                    <div class="pop-img">
                      <img src="{{item.track.album.images[0].url}}" alt="pop-img">
                    </div>
                    <h4>{{item.track.name}}</h4>
                    <p>{{item.track.artists[0].name}}</p>
                  </div>
                </div>
              </section>
            <app-today-top-hits-playlist></app-today-top-hits-playlist>

        </section>

    </main>

</body>