<div class="container" *ngIf="track">
    <div class="iphone neu">
        <div class="title">
            <div><i class="fas fa-chevron-left" (click)="onCloseClick()"></i></div>
            <div>NOW PLAYING</div>
            <div><i class="fas fa-ellipsis-v"></i></div>
        </div>
        <div class="album-cover">
            <div class="album-overlay"></div>
            <img [src]="track.album.images[0].url" alt="LogoMusicImage" class="player02-img">
            <h2 class="song-title">
                {{track.name}}
            </h2>
            <h3 class="artist-title">
                {{track.artists[0].name}}
            </h3>
        </div>
        <div class="buttons">
            <button class="btn lg red neu">
                <i (click)="toggleHeartState(track)" class="fas fa-heart red"
                    [@heartAnimation]="getHeartState(track.id)" style="cursor: pointer;">
                </i>
            </button>
            <button class="btn lg neu" (click)="onBackClick()"><i class="fas fa-backward"></i></button>
            <button class="btn lg neu" (click)="onPlayPauseClick()">
                <ng-container *ngIf="isPlaying; else playIcon">
                    <i class="fas fa-play"></i>
                </ng-container>
                <ng-template #playIcon>
                    <i class="fas fa-pause"></i>
                </ng-template>
            </button>
            <button class="btn lg neu" (click)="onNextClick()"><i class="fas fa-forward"></i></button>
        </div>
        <div>
            <audio #audioPlayer *ngIf="track.preview_url" [src]="track.preview_url" [autoplay]="true" controls
                (ended)="onNextClick()" (timeupdate)="updateTime($event)" [controls]="false">
                Your browser does not support the audio tag.
            </audio>

            <div class="track-t">
                <div class="progress">
                    <progress [max]="trackDuration" [value]="currentTime"
                        (click)="seekTo($event)"></progress>
                </div>
                <div class="time">
                    <div class="total-time">{{getCurrentTime()}}</div>
                    <div class="last-time">{{getTotalTime()}}</div>
                </div>
            </div>
        </div>
        <div class="lyrics">
            <i class="fa fa-external-link" style="transition: transform 1s ease; cursor: pointer;"
                                (click)="playTrack(track.external_urls.spotify)"></i>
        </div>
    </div>
</div>