<div class="main background" *ngIf="spotifyPlaylist">
    <div class="card-container">
        <div class="card" *ngFor="let item of spotifyPlaylist.tracks.items">
                <div id="back">
                    <img src="{{item.track.album.images[0].url}}">
                </div>
                <img src="{{item.track.album.images[0].url}}" id="art">
                <div id="title" [style.color]="'black'">{{item.track.name}}</div>
                <div id="artist" [style.color]="'black'">{{item.track.artists[0].name}}</div>
        </div>
    </div>
</div>